.Nav {
    margin: 0;
    width: 100%;
    height: 6rem;
    background-color: #0979ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav a {
    text-decoration: none;
    color: white;
}

.Nav p {
    font-weight: 700;
    font-size: 4rem;
    /* text-decoration: none; */
}